<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ text.title.genetic | capitalize | raw}} {{ text.title.chiptune | capitalize | raw}}</title>
        <link rel="icon" href="/svg/dna_white"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="/css/style" type="text/css">
    </head>
    <body>
        <span class="material-icons fake_elem">circle</span>
        <div id="component_repo">
            <div class="audio">
                <span class="material-icons audio_play">play_arrow</span>
                <span class="material-icons audio_pause">pause</span>
                <span class="material-icons-outlined audio_menu">menu</span>
            </div>
            <div class="modal_container">
                <div class="modal">
                    <div class="modal_top">
                        <p class="modal_title"></p>
                        <span class="material-icons modal_close">close</span>
                    </div>
                    <div class="modal_body"></div>
                </div>
            </div>
            <div class="json_display">
            </div>
            <div class="eval_bar">
            </div>
        </div>

        <div id="mask">
        </div>

        <div id="loading_mask" class="show">
            <img id="loading_dna" src="/png/dna">
        </div>

        <header>
            <div id="header_title">
                <img id="title_dna" src="/svg/dna_white">
                <p id="title">{{ text.title.genetic | upper | raw}} {{ text.title.chiptune | upper | raw}}</p>
            </div>
            <div id="header_buttons">
                <p id="random_loop">{{ text.header.random_loop | upper | raw}}</p>
                <p id="from_genes">{{ text.header.from_genes | upper | raw}}</p>
            </div>
        </header>

        <section id="page">
            <aside id="left_menu">
                <div id="left_menu_top">
                    <span id="close_left_menu" class="material-icons">close</span>
                    <p id="reset">{{ text.left_menu.reset | upper | raw}}</p>
                </div>
                <div id="left_menu_info">
                    <p class="left_menu_label">{{ text.left_menu.generation | upper | raw}}</p>
                    <p id="gen_no"></p>
                    <p class="left_menu_label">{{ text.left_menu.individual | upper | raw}}</p>
                    <p><span id="individual_no"></span> / <span id="out_of"></span></p>
                </div>
                <div id="left_menu_genome">
                    <p class="left_menu_label">{{ text.left_menu.genome | upper | raw}}</p>
                </div>
            </aside>
            <aside id="open_left_menu_container">
                <span id="open_left_menu" class="material-icons">menu_open</span>
            </aside>
            <section id="content">
                
            </section>
        </section>

        <script>
            const text = {
                resetModal: {
                    title: "{{ text.reset_modal.title | upper | raw}}",
                    message: "{{ text.reset_modal.message | capitalize | raw}}",
                    howMany: "{{ text.reset_modal.how_many | capitalize | raw}}",
                    ok: "{{ text.reset_modal.ok | upper | raw}}",
                },
                randomModal: {
                    title: "{{ text.random_modal.title | upper | raw}}",
                    message: "{{ text.random_modal.message | capitalize | raw}}",
                    regenerate: "{{ text.random_modal.regenerate | upper | raw}}",
                },
                genesModal: {
                    title: "{{ text.genes_modal.title | upper | raw}}",
                    message: "{{ text.genes_modal.message | capitalize | raw}}",
                    generate: "{{ text.genes_modal.generate | upper | raw}}",
                    putYourJSON: "{{ text.genes_modal.put_your_json | capitalize | raw}}",
                }
            }    
        </script>
        <script src="/js/main"></script>
    </body>
</html>